[submodule "u-boot"]
	path = u-boot
	url = https://github.com/chlrod/u-boot
	branch = zerocore_v2023.10
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot
	branch = 954aeb7 
